name: Build and Push Docker Images

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - main

env:
  DOCKER_HUB_USERNAME: rjeevan
  IMAGE_NAME: tado_local

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch:
          - amd64
          - arm64
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract version from tag
        if: startsWith(github.ref, 'refs/tags/')
        id: tag_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Determine image tags
        id: meta
        run: |
          ARCH="${{ matrix.arch }}"
          if [[ "${{ github.ref }}" == refs/tags/* ]]; then
            VERSION="${{ steps.tag_version.outputs.VERSION }}"
            echo "tags=${{ env.DOCKER_HUB_USERNAME }}/${{ env.IMAGE_NAME }}_${ARCH}:${VERSION},${{ env.DOCKER_HUB_USERNAME }}/${{ env.IMAGE_NAME }}_${ARCH}:latest" >> $GITHUB_OUTPUT
          else
            echo "tags=${{ env.DOCKER_HUB_USERNAME }}/${{ env.IMAGE_NAME }}_${ARCH}:latest" >> $GITHUB_OUTPUT
          fi

      - name: Set build args
        id: build_args
        run: |
          ARCH="${{ matrix.arch }}"
          echo "BUILD_FROM=ghcr.io/home-assistant/${ARCH}-base:latest" >> $GITHUB_OUTPUT

      - name: Build and push Docker images
        uses: docker/build-push-action@v5
        with:
          context: ./tado_local
          platforms: linux/${{ matrix.arch }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            BUILD_FROM=${{ steps.build_args.outputs.BUILD_FROM }}
